<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About Us</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/paragraph.css') }}">
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    <h1> About Us </h1>
    <p> Melody music school is expanding its effort to enroll more and more talented students who are interested in becoming musicians in the future.
      The school is determined to replace their paper-based database with a modern digital database which is far more scalable and easier to maintain.
      This website powered by MySQL database will record informaiton such as the students that have been enrolled so far, the classes they have taken,
      the grades they have achieved in each class. School administration department can easily query the database to answer questions.
    </p>
    <center>
      <h4>
      From Principals: Xiaoshi Zeng, Xinpeng Liu
      </h4>
    </center>
    {% endblock %}
  </body>
</html>
