<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <head><title>Browse courses</title></head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/students.css') }}">
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
        <h3>Courses provided</h3>
        <table>
            <thead>
                <th>Class ID</th>
                <th>Class Name</th>
                <th>Class Descriptions</th>
                <th>Enrolled Students</th>
            </thead>
            <tbody>
              {% for r in rows %}
              <tr>
                  <td> {{ r[0] }}</td>
                  <td> {{ r[1] }}</td>
                  <td> {{ r[2] }}</td>
                  <td> {{ r[3] }}</td>
              </tr>
              {% endfor %}
            </tbody>
        </table>
        <h4><a href='/'>Go back to home page</a></h4>
    {% endblock %}
  </body>
</html>

